body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #010110;
}

button {
  cursor: pointer;
}

.timer-container {
  position: relative;
}

.input-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-container input {
  font-size: 3rem;
  text-align: center;
  width: 50%;
  display: block;
  margin: 0 auto;
  border: none;
  background-color: transparent;
  color: green;
}

.input-container input:focus {
  outline: none;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.btn {
  position: relative;
  bottom: -10px;
  border: none;
  font-size: 2rem;
  color: green;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  background: transparent;
}
.btn:hover {
  opacity: 1;
}

.btn-start {
  left: 225px;
}

.btn-pause {
  right: 225px;
}
